import { RouteRecordRaw } from 'vue-router'

const ${businessName}Routes: RouteRecordRaw[] = [
  {
    path: '/${businessName}',
    name: '${className}',
    component: () => import('@/layout/index.vue'),
    redirect: '/${businessName}/index',
    meta: {
      title: '${functionName}',
      icon: 'Folder'
    },
    children: [
      {
        path: 'index',
        name: '${className}Index',
        component: () => import('@/views/${businessName}/index.vue'),
        meta: {
          title: '${functionName}首页',
          icon: 'Document'
        }
      }
    ]
  }
]

export default ${businessName}Routes
